.container {
	height: 100%;
	max-height: 100%;
}

body {
	background-color: #F8F8F8;
}

.container {
	background-color: #FFFFFF;
}

.float-none {
	float: none;
}

.navbar {
	margin-bottom: 0px;
}

.tree-image {
	height: 20px;
	width: 25px;
}