<div class="container">
    <ol class="breadcrumb breadcrumb-nodes">
        <li><a class="breadcrumb-a" ng-click="updateBreadcrumb()">Categories</a></li>
        <li ng-repeat="node in breadcrumb"><a ng-click="updateBreadcrumb(node.category, 'category')" class="breadcrumb-a breadcrumb-separator">{{node.category}}</a> <a ng-click="updateBreadcrumb(node.keyword, 'keyword')" class="breadcrumb-a">{{node.keyword}}</a></li>
    </ol>
    <div id="tree"></div>
</div>